body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.container {
    background-color:mistyrose;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 71px;
    box-sizing: border-box;
    text-align: center;
}

h2 {
    color: #333;
}

.form-group {
    margin-bottom: 16px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 8px;
    color:#333;
}

input {
    width: calc(100% - 16px);
    padding: 10px;
    margin-bottom: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    box-sizing: border-box;
}

.toggle-password {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background: url('eye-icon.png') no-repeat center/cover;
    cursor: pointer;
    opacity: 0.6;
    transition: opacity 0.3s ease-in-out;
}

.toggle-password:hover {
    opacity: 1;
}

button {
    background-color:hotpink;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 10px;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color:#ccc;
}
